$colors: (
    primary: #005DFF,
    accent: #FFF6BB,
);

body, html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;

    #bg {
        clip-path: polygon(100% 0, 100% 81%, 44% 100%, 0 100%, 0 0);
        background-color: map-get($colors, primary);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
}