.container-fluid {
    padding: 0;
}

.jumbotron {
    text-align: center;
    background: none;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2em;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

img.id-elliot {
    width: 99%;
}

img.modalImg {
    width: 100%;
}

img.img-center {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 200px;
}

div.btnWrapper {
    margin-top: 20px;
}

button.btnWrapperStuff {
    background-color: red;
    color: white;
    display: block;
    margin: auto;
}

div.modalFormWrapper {
    padding: 1em;
}

button.btnCenter {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
}

img.footer-img {
    width: 250px;
    padding: 10px;
    margin: auto;
    display: block;
}

div.footer-row {
    margin: 0;
    padding: 0;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-google-plus-square {
    color: #c32f10;
}

.fa-instagram {
    color: #ffffff;
}


.socialWrapper {
    margin: auto;
}